@mixin round($size, $radius: 50% ) {
  height: $size;
  width: $size;
  border-radius: $radius;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin custom-button($color, $outline) {
  @extend .btn;
  border: 1px solid $color;
  @extend .text-light;
  background-color: $color;

  @if $outline == true {
    @extend .text-body;
    background-color: transparent;
  }

  &:hover {
    @if $outline == true {
      background-color: $color;
      @extend .text-light;
    }@else {
      background-color: $color;
      border: 1px solid $color;
      opacity: 0.85;
    }
  }
}


body{
  @extend .text-body-secondary;
}


.nav-item {
  &-profile-icon {
    @include  round(4rem);
    @include center();
    @extend .bg-light-subtle;
    @extend .mb-2
  }

  &-icon {
    @include  round(2rem, 25%);
    @include center();
    @extend .bg-light-subtle;
  }

  :hover {
    .nav-item-icon {
      @extend .bg-primary;
      @extend .text-light;
    }

    span {
      @extend .fw-bold;
    }
  }
}

.logo {
  width: 10rem;
  //@extend .my-2;
}

.icon-lg {
  font-size: 1rem;
}

.fs-sm {
  font-size: 0.75rem;
}

.fs-md {
  font-size: 0.9rem;
}

.circle {
  @include  round(3rem);
  @include center();
  @extend .bg-light-subtle;
  @extend .overflow-hidden;
}

tr td,
tr th {
  color: inherit !important;
}

.custom-btn-primary {
  @include custom-button($primary, false );
}

.custom-btn-primary-outline {
  @include custom-button($primary, true );
}

.toast-message {
  width: 250px;
}

.content {
  height: calc(100vh - 55px);
}

.border-dashed {
  border: 1px dashed $gray-500;
}

.image-icon {
  font-size: 2rem;
  //color: $gray-500;
}

.input::placeholder {
  color: $gray-500;
}

.table-link {
  @extend .text-body-secondary;
  text-decoration: none;
}

#poster-container {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;

  @include center();
}

.border-dashed {
  border: 1px dashed $gray-500;
}
