@mixin round($size, $radius: 50% ) {
  height: $size;
  width: $size;
  border-radius: $radius;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin custom-button($color, $outline) {
  @extend .btn;
  border: 1px solid $color;
  @extend .text-light;
  background-color: $color;

  @if $outline == true {
    @extend .text-body;
    background-color: transparent;
  }

  &:hover {
    @if $outline == true {
      background-color: $color;
      @extend .text-light;
    }@else {
      background-color: $color;
      border: 1px solid $color;
      opacity: 0.85;
    }
  }
}


body{
  @extend .text-body-secondary;
}


.nav-item {
  &-profile-icon {
    @include  round(4rem);
    @include center();
    @extend .bg-light-subtle;
    @extend .mb-2
  }

  &-icon {
    @include  round(2rem, 25%);
    @include center();
    @extend .bg-light-subtle;
  }

  :hover {
    .nav-item-icon {
      @extend .bg-primary;
      @extend .text-light;
    }

    span {
      @extend .fw-bold;
    }
  }
}

.logo {
  width: 10rem;
  //@extend .my-2;
}

.icon-lg {
  font-size: 1rem;
}

.fs-sm {
  font-size: 0.75rem;
}

.fs-md {
  font-size: 0.9rem;
}

.circle {
  @include  round(3rem);
  @include center();
  @extend .bg-light-subtle;
  @extend .overflow-hidden;
}

tr td,
tr th {
  color: inherit !important;
}

.custom-btn-primary {
  @include custom-button($primary, false );
}

.custom-btn-primary-outline {
  @include custom-button($primary, true );
}

.toast-message {
  width: 250px;
}

.content {
  height: calc(100vh - 55px);
}

.border-dashed {
  border: 1px dashed $gray-500;
}

.image-icon {
  font-size: 2rem;
  //color: $gray-500;
}

.input::placeholder {
  color: $gray-500;
}

.table-link {
  @extend .text-body-secondary;
  text-decoration: none;
}

.poster-container {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;

  @include center();
}

.border-dashed {
  border: 1px dashed $gray-500;
}

.auth {
  &-box{
    background: url("../images/login-bg.png") center center/cover no-repeat fixed;
    color: #4e250e !important;
  }

  &-logo{
    width:15rem;
  }

  &-span{
    font-family: $font-family-serif;
    font-size: 2rem;
  }

  &-heading{
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.8;
    letter-spacing: -3px;
  }

  &-text-box{
    @include center();
  }

  &-form-box{
    background: #f9ebdd;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    padding: 2rem 4rem;

    @include center();

    form{
      width: 100%;
    }
  }

  &-form-heading{
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  &-label{
    font-weight: 900;
    font-size: 1.25rem;
  }
}

