<form th:action="@{/users/save}" method="POST" th:object="${user}" id="user-form" enctype="multipart/form-data">
  <input type="hidden" th:field="*{id}" th:data-user-id="*{id}" id="userId">
  <input type="hidden" th:value="${edit}" id="editMode">


  <!--          photo-->
  <div class="d-flex justify-content-center mb-3">
    <input type="hidden" th:field="*{photos}" />
    <input
            type='file'
            id='poster'
            name='poster'
            accept='image/jpg, image/jpeg, image/png, image/webp'
            hidden
    />
    <label for="poster" class="poster-container"  th:classAppend="${user.photosPath == null ? 'border-dashed' : 'border-none shadow-sm'}" id="poster-container">
      <span th:if="${user.photosPath == null}" id="poster-label">Select Image</span>
      <img th:if="${user.photosPath != null}" th:src="@{${user.photosPath}}" alt="poster-image" id="poster-image" class="w-100 h-100 object-fit-cover"/>
    </label>
  </div>

  <!--          text inputs-->
  <div class="mb-3">
    <label for="email" class="form-label fs-md fw-medium">Email address</label>
    <input type="email" class="form-control" id="email" th:field="*{email}">
    <span class="text-danger fs-sm d-none ps-3" id="email-error">Email is already taken!</span>
  </div>
  <div class="mb-3">
    <label for="firstname" class="form-label fs-md fw-medium">Firstname</label>
    <input type="text" class="form-control" id="firstname" placeholder="" th:field="*{firstName}">
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label fs-md fw-medium">Lastname</label>
    <input type="text" class="form-control" id="lastname"  th:field="*{lastName}">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label fs-md fw-medium">Password</label>
    <input th:if="${edit != true}" type="password" class="form-control" id="password" th:field="*{password}">
    <input th:if="${edit == true}" type="password" class="form-control input" id="password" placeholder="Leave this empty if you want to keep the old password" th:field="*{password}">
  </div>
  <!--          Checkbox inputs-->
  <div  class="mb-3">
    <label for="password" class="form-label fs-md fw-medium">Role</label>
    <div>
      <div class="form-check form-check-inline" th:each="role : ${roles}">
        <input class="form-check-input" type="checkbox" id="role" th:id="'role' + ${role.id}" th:value="${role.id}" th:field="*{roles}" th:disabled="${disableCheckbox}"  />
        <input th:if="${user.roles.contains(role)}" type="hidden" name="roles" th:value="${role.id}" th:disabled="${!disableCheckbox}" />
        <label class="form-check-label text-capitalize" th:for="'role' + ${role.id}" th:text="${role.name}"></label>
      </div>



    </div>
  </div>
  <!--          Radio input-->
  <div  class="mb-3">
    <label for="password" class="form-label fs-md fw-medium">Status</label>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="status" th:field="*{enabled}">
      <label class="form-check-label" for="status">Active</label>
    </div>
  </div>

  <!--          Submit buttons-->
  <button type="submit" class="custom-btn-primary">Submit</button>
  <a th:href="@{/users}" class="custom-btn-primary-outline ">Cancel</a>
</form>